@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container vh-100" style="margin-top: -100px; margin-bottom: -100px; ">
    <div class="row h-100">
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </div>
    </div>
</div>
