@{
    ViewData["Title"] = "Product Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <div class="card">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                        Category
                    </a>
                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
        </div>
    </div>
</div>
