@model OrderHeader
@{
    ViewData["title"] = "Order Confirmation";
}
<div class="container">
    <div class="row">
        <div class="col-12 text-center vh-100 align-content-center ">
            @if (Model.ApplicationUser.CompanyID.GetValueOrDefault() == 0)
            {
            // Normal Customer
                <h2 class="fw-bold">Your Order Number is: @Model.Id</h2>
                <h1 class="text-success fw-bold">
                    Order Placed Successfully !!
                </h1>
                <a class="text-dark text-opacity-50" href="https://mail.google.com/">Check your order in your Gmail</a>
            }
            else
            {
                // Company Customer
                if (Model.PaymentStatus != StaticDetail.PaymentStatus_Approved)
                {
                    <h2 class="text-success fw-bold">Your Order Number is: @Model.Id</h2>
                    <h1 class="text-warning fw-bold">
                        Please wait for packaging..
                    </h1>
                    <a class="text-dark text-opacity-50" href="https://mail.google.com/">Check it in Gmail</a>

                }
                else
                {
                    <h2 class="fw-bold">Your Order Number is: @Model.Id</h2>
                    <h1 class="text-success fw-bold">
                        Your Company has successfully paid.
                    </h1>
                    <a class="text-dark text-opacity-50" href="https://mail.google.com/">Check it in Gmail</a>

                }
            }
        </div>
    </div>
</div>

